<h1>List of Pokemon</h1>

<div class="catalogue">
    <app-pokemon-item (pokemonClicked)="onPokemonClick($event)"
     *ngFor="let pokemon of pokemonList" [pokemon]="pokemon">   
    </app-pokemon-item>
</div>
