.catalogue {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    grid-row-gap: .005em;
    grid-column-gap: .005em;
    
}

h1 {
    text-align: center;
    font-size: 42px;
}