.card-body {
    margin: 8px 8px;
    padding-top: 5px;
    border: 8px solid rgb(22, 19, 199);
    text-align: center;
    background: rgba(64, 71, 209, 0.76);
    border-radius: .45rem;
}

p {
    text-transform: capitalize;
    color: #ffffff;
    font-size: 18px;
    word-wrap: break-word;
}
