<p>Pokemon page works!</p>

<div *ngIf="!isLoading" class="container">
    <section class="pokemon">
        <div class="pokemon-header">
            <div class="pokemon-image">
                <p>{{ pokemon.name }}</p>
                <img [src]="pokemon.sprites!.front_default" class="pkm-img" alt="" width="150">
            </div>

            <ul class="types">
                <li *ngFor="let type of pokemon.types" class="type">
                    {{ type.type.name }}
                </li>
            </ul>

            <p>Height: {{ pokemon.height }}</p>
            <p>Weight: {{ pokemon.weight }}</p>

            <ul class="abiltiies">
                <li *ngFor="let ability of pokemon.abilities" class="type">
                    {{ ability.ability.name }}
                </li>
            </ul>

            <ul class="stats">
                <li *ngFor="let baseStat of pokemon.stats" class="stat">
                    {{ baseStat.stat.name }}: {{ baseStat.base_stat }}
                </li>
            </ul>

            <ul class="moves">
                
            </ul>
        </div>
    </section>
</div>