.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.button {
    font-family: inherit;
    font-size: 1em;
    padding: .5rem 1rem;
    font-weight: 700;
    border: 1px solid #fff;
}

.button-primary {
    background-color: #2e7d32;
    color: #fff;
}

.input {
    font-family: inherit;
    display: block;
    width: 75%;
    padding: .65em;
    border-radius: .25em;
    border: 2px solid #efefef;
    margin: 1em 0;
}

.input-label {
    display: block;
}