<div class="container">
    <header>
        <h1>Pokemon Trainer</h1>
        <h4>Login to catch some Pokemon</h4>
    </header>
    <section>
        <form action="">
            <label class="input-label">Username</label>
            <input class="input" placeholder="Enter your username...">
        </form>

        <button type="submit" class="button button-primary">Login</button>
    </section>
</div>

