@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.4;

    --col-text-light: #ffffff;
    --col-text-dark: #000000;
    --col-button-danger: rgb(235, 65, 65);
  
    --col-primary-light: #60ad5e;
    --col-primary-medium: #2e7d32;
    --col-primary-dark: #005005;
  
    --col-secondary-light: #a98274;
    --col-secondary-medium: #795548;
    --col-secondary-dark: #4b2c20;
}

